.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
_notes
dev/
data/example_tma.rda
man/example_tma.Rd
man/simulate_mif.Rd
R/merge_for_jordan.R
R/simulate_mif.R
.DS_Store
manuscript information
/doc/
/Meta/
/renv/
renv.lock